extends layout
block title
  title Tutorial
block body
  div#analysisContainer
    form#questForm(action="#{next_action}",method="get")
      h3 Dear participant, 
 

      h3  Best.

      p
        input(type="submit", class="button", value="Go and play")