doctype 5
html
  head
    block title
      title #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/datatable.css')
    // script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js')
    script var session_data = !{locals.session_data? JSON.stringify(session_data): null}; 
  body
    block body
    if (typeof(AMTStatus)!=='undefined')
      div#AMTStatus #{AMTStatus}
